@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #e8e8e8;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.t-prices {
    display: flex;
    margin-left: 2rem;
    padding-bottom: 1rem;
}

.t-prices .t-service,
.t-prices .t-price {
    flex: 1 0 auto;
}
.t-prices .t-dots {
    flex: 0 1 auto;
    overflow: hidden;
}

.t-dots::before {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin: 0 5px;
    content: ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . ";
}

.title-page {
    position: absolute;

    padding: 1rem 3rem;
    flex: 1;
    background-color: black;
    transform: skewX(-20deg);
}

.g-decoration {
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    rotate: 45deg;

    position: absolute;
    right: 0;
    top: 2rem;
}
