@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #e8e8e8;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.t-prices {
    display: flex;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}

.t-prices .t-service,
.t-prices .t-price {
    flex: 1 0 auto;
}
.t-prices .t-dots {
    flex: 0 1 auto;
    overflow: hidden;
}

.t-dots::before {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin: 0 5px;
    content: ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . ";
}

.title-page {
    position: absolute;

    padding: 1rem 3rem;
    flex: 1;
    background-color: black;
    transform: skewX(-20deg);
}

.g-decoration {
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    rotate: 45deg;

    position: absolute;
    right: 0;
    top: 2rem;
}

.g-decoration-first-page {
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    rotate: 45deg;

    position: absolute;
    right: 0;
    top: 12rem;
}
@media (max-width: 768px) {
    .g-decoration {
        width: 1.1rem;
        height: 1.1rem;

        right: 0;
        top: 1.5rem;
    }
}

#gallery-first-page {
    animation: slideBottom 1.5s;
}

#contact,
#home {
    -webkit-animation: slideLeft 3s forwards;
    animation: slideLeft 3s forwards;
}

#prices-title {
    animation: fadeInTitle 2.5s;
}

#prices-container {
    animation: slideBottom 1.5s;
}
#int-title {
    animation: slideBottomTitle 2.5s;
}

#int-intro {
    animation: slideBottomInt-Ext 2.5s;
}

#int-intro-photo {
    transition: 2s;
    overflow: hidden;
    animation: slideBottomImg 2.5s;
}

.int-left {
    -webkit-animation: slideLeft 3s forwards;
    animation: slideLeft 3s forwards;
}

.int-right {
    -webkit-animation: slideRight 3s forwards;
    animation: slideRight 3s forwards;
}

.int-left-reverse {
    animation: slideLeftReverse 3s forwards;
}

@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideBottomInt-Ext {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottomTitle {
    0% {
        transform: translateY(60%) skewX(-20deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0) skewX(-20deg);
        opacity: 1;
    }
}

@keyframes slideBottomImg {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.modal-section {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeout 1s;
}

.modal-active {
    display: block;
    opacity: 1;
    animation: fadein 1s;
}
body.modal-active {
    overflow: hidden;
}

/* swiper */

.swiper-container {
    background: rgb(215, 215, 215);
    background: linear-gradient(
        163deg,
        rgba(215, 215, 215, 0.8) 0%,
        rgba(207, 156, 156, 0.2) 42%,
        rgba(233, 192, 192, 0.7) 100%
    );
    width: 90%;
    border-radius: 0.5rem;
    opacity: 0.7;
    box-shadow: 0 0 15px #000000;
}

.swiper-div {
    width: 90%;
}

.swiper-image {
    width: 100%;
    height: 25rem;
    transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 0.5rem;
    -moz-box-shadow: 0 0 3px #1c1b1b;
    -webkit-box-shadow: 0 0 3px #1c1b1b;
    box-shadow: 0 0 10px #1c1b1b;
}

.prev-image,
.next-image {
    display: flex;
    height: 17rem;
    margin-top: 4rem;
    opacity: 0.6;
    box-shadow: none;
}

.prev-image {
    transform: perspective(35rem) rotateY(-20deg);
    padding-right: 2rem;
    transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.next-image {
    transform: perspective(35rem) rotateY(20deg);
    padding-left: 2rem;
    transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.slick-center .swiper-image {
    transform: perspective(35rem) rotateY(0);
    transition: transform 2s cubic-bezier(0.23, 1, 0.32, 1); /* Updated transition for center image */
}

@media (min-width: 601px) and (max-width: 719px) {
    .swiper-image {
        height: 20rem;
        margin: 0;
    }
    .prev-image,
    .next-image {
        display: flex;
        height: 12rem;
        margin-top: 4rem;
        opacity: 0.6;
        box-shadow: none;
    }
}

@media (max-width: 600px) {
    .swiper-container {
        background: none;
        box-shadow: none;
        width: 90%;
    }
    .swiper-image {
        height: 15rem;
        margin: 0;
    }
    .prev-image,
    .next-image {
        opacity: 0;
        position: absolute;
    }
}
